* {
    box-sizing: border-box;
}

html {
    font-size: 16px; 
}

body {
    width: 100%;
    text-align: center;
}

main {
    font-family: sans-serif;
    margin-bottom: 2rem;
    
}

h1 {
    font-family: sans-serif; 
    font-size: 2rem;
}

h1 span {
    font-style: italic;
}

.generatorButton {
    padding: 1.25rem 2.5rem;
    font-size: 1.25rem;
    border: transparent;
    box-shadow: 0.3rem 0.3rem 0.5rem #A01C36;
    margin: 3px 5px;
    background-color: #2B0000;
    color: #FFF;
    border-radius: 0.3rem;
}

.generatorButton:hover {
    cursor: pointer;
    background-color: #D43900;
    transition: background-color 500ms ease-out;
}

.generatorButton:active {
    margin: 0px 0px;
    box-shadow: 0px 0px;
    transition: margin 3s linear 0.5s;
}

footer {
    background-color: #34474F;
    color: #FFF;
    font-size: 1.25rem;
}

footer ul {
    display: flex;
    justify-items: center;
    padding: 2rem;
}

footer li {
    list-style: none;
    margin: 0.3rem;
}

footer li a {
    color: #FFF;

}

.right {
    flex-grow: 1;
}

.container {
    width: 60%;
    margin: auto;
}


.randomMessage {
    color: #A01C36;
    font-weight: 700;
}

#result {
    font-style: italic;
    font-size: 1.5 rem;
    line-height: 1.2;
}
